@import "tailwindcss";
::-webkit-scrollbar {
  width: 12px;
}

/* This styles the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #232F3E; /* A dark color from your theme */
}

/* This styles the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #FF9900; /* The main AWS orange color */
  border-radius: 20px;
  border: 3px solid #232F3E; /* Creates a padding effect around the thumb */
}

/* This styles the thumb when you hover over it */
::-webkit-scrollbar-thumb:hover {
  background-color: #E68A00; /* A slightly darker orange for hover */
}

* {
  scrollbar-width: thin; /* Can be 'auto', 'thin', or 'none' */
  scrollbar-color: #FF9900 #232F3E; /* thumb color track color */
}